.wrapper {
  border-top: 1px solid #ccc;
  margin-bottom: 30px;

  .container {
    padding: 15px 0;

    .left {
      padding: 0 15px;
    }

    .right {
      height: 100vh;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .error-text {
        height: 100%;
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--red-color);
        display: grid;
        place-items: center;
      }
    }
  }
}
