.item {
  display: flex;

  .promise {
    padding: 0 10px 0 20px;

    h4 {
      font-size: 2rem;
      color: var(--black-color);
    }

    p {
      padding-top: 15px;
      color: var(--black-color);
    }
  }
}
