.wrapper {
    margin-top: 1rem;
    font-size: 1.4rem;

    .field {
        padding: 5px 0;
    }

    .field-email {
        margin-right: 10px;
    }

    .input {
        width: 100%;
        outline: none;
        border-radius: 5px;
        padding: 10px 39px 10px 12px;
        background-color: var(--white-color);
        color: #333;
        box-shadow: 0 0 0 1px #d9d9d9;
        --webkit-box-shadow: 0 0 0 1px #d9d9d9;
        line-height: 1.6;

        &:focus {
            box-shadow: 0 0 0 2px #338dbc;
            outline: none;
        }
    }

    .section-address {
        margin-top: 1.5rem;

        div {
            margin-bottom: 2rem;
        }
    }

    .note {
        margin-top: 5px;
        textarea {
            width: 100%;
            outline: none;
            border-radius: 5px;
            background-color: var(--white-color);
            border: none;
            box-shadow: 0 0 0 1px #d9d9d9;
            --webkit-box-shadow: 0 0 0 1px #d9d9d9;

            padding: 5px;

            &:focus {
                box-shadow: 0 0 0 2px #338dbc;
                --webkit-box-shadow: 0 0 0 2px #338dbc;

                outline: none;
            }
        }
    }

    .action {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        .previous {
            padding: 10px 0;
            color: #338dbc;
            cursor: pointer;

            .icon {
                font-size: 1.4rem;
                color: #338dbc;
            }

            span {
                padding: 0 5px;
            }
        }

        button {
            background-color: var(--black-color);
            color: var(--white-color);
            border: 1px solid var(--black-color);
            outline: none;
            font-size: 1.4rem;
            padding: 20px 24px;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }

    .error-text {
        margin-bottom: 0;
        margin-top: 5px;
        color: var(--red-color);
    }

    @media (max-width: 992px) {
        .field-email {
            margin: 0;
        }
    }
}
